html {
    background-color: gray;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

#dark-blue {
    color: darkblue;
}

#purple {
    color: purple;
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}

